*.svn
*.iml
*.project
*.phpproj
*.sl
*.suo
*.orig
*.vscode

typings/
dist/
node_modules/
aot/
**/*.ngfactory.ts
**/*.ngsummary.json
**/*.module.ngfactory.map
**/*.module.ngfactory.js
**/*.component.ngfactory.js
**/*.js.map
**/*.css.shim.ts
**/*.css.shim.ngstyle.ts
site-main-typescript/app/**/*.js
**/codegen
.awcache/

site-main-php/src/test/php/sonar/logs

site-main-php/src/main/webapp/application/configuration/local.ini
site-main-php/src/main/webapp/application/configuration/dependencies/js/local.json
site-main-php/src/main/webapp/application/configuration/dependencies/css/local.json
site-main-php/src/main/webapp/application/configuration/cache.ini
site-main-php/src/main/webapp/application/configuration/localAppCache.php
site-main-php/src/main/webapp/application/configuration/localpath.php
site-main-php/src/main/webapp/application/configuration/localalt.ini
site-main-php/src/main/webapp/public/dist/
site-main-php/src/main/webapp/public/bin/
site-main-php/src/main/webapp/public/swf/player.swf
site-main-php/src/main/webapp/public/swf/vocab.swf
site-main-php/src/main/webapp/public/swf/player.*.swf
site-main-php/src/main/webapp/public/swf/vocab.*.swf
site-main-php/src/main/webapp/public/phpinfo.php

site-cms-php/src/main/webapp/application/configuration/localpath.php
site-cms-php/src/main/webapp/application/configuration/local.ini
site-cms-php/src/main/webapp/application/configuration/cache.ini
site-cms-php/experimentpom.xml
site-cms-php/src/main/webapp/public/sandbox1/*
site-cms-php/src/main/webapp/public/avatar1/*

site-library-php/src/main/php/BabelCentral/Social/Facebook/fb_ca_chain_bundle.crt

site-main-typescript/messages.xmb
site-main-typescript/messages.xlf
site-main-typescript/npm-debug.log*
site-main-typescript/package-lock.json
site-main-typescript/config/webpack.localized.*.js
site-main-typescript/app/*.js
site-main-typescript/app/*.map
site-main-typescript/node/
site-main-typescript/report/
site-main-typescript/tmp/

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/nbproject/private/
nbproject/project.properties
nbproject/

.buildpath
.settings/
site-main-typescript/.settings/
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.php.server.core.phpServersPrefs.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs


credentials/
intellij/
site.phpproj.user
target/
.idea/

npm-debug.log
git.exe.stackdump

assets.*.json

