.selected {
    background-color: rgba(0,0,255,0.3) !important;
}

.display-word {
    padding:2px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.sentence-wrapper {
    min-height: 20vh;
}

.correct {
    background-color: #d4edda;
}

.incorrect {
    background-color: #f8d7da;
}

.distractor {
    color: #f00;
    text-decoration: line-through;
    font-size: 0.9em;
}

.error-spotter-sentence{
    margin-top:10px;
    margin-bottom:10px;
    font-size:2em;
}