<div class="container-fluid">

    <div *ngIf="!isStarted()">
        <div class="btn btn-success" (click)="startQuiz()" i18n>Start</div>
    </div>

    <div *ngIf="isStarted() && !isCompleted()">
        <div class="d-flex justify-content-center">
            <div *ngIf="getCurrentSentence()">
                <span *ngFor="let displayWord of getCurrentSentence().displayWords"
                      [class.d-none]="!displayWord.visible"
                >
                    {{displayWord.prefix}}{{displayWord.text}}{{displayWord.postfix}}
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="isCompleted()">
        Complete!
    </div>

</div>