.error-spotter {
    width: 100%;
    position: relative;
}

:host >>> .btn {
    font-size: 2em;
}

:host >>> .fa-check-circle,
:host >>> .fa-times-circle {
    font-size: 1.5em;
}

:host >>> .btn {
    background-image: none;
}

.feedback-message {
    font-size: 1em;
}

.sentence-block {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

.sentence-wrapper {
    font-size: 1.8em;
    margin-bottom: 2em;
}

.card-title {
    font-size: 2em;
}

.card-text {
    font-size: 1.5em;
}

.instructions {
    font-size: 1.3em;
}
