.error-spotter {
    font-size: 3vh;
    width: 100%;
    position: relative;
}

:host >>> .btn {
    font-size: 4vh;
}

:host >>> .fa-check-circle,
:host >>> .fa-times-circle {
    font-size: 1.5em;
}

.feedback-message {
    font-size: 1em;
}

.sentence-block {
    min-height: 20vh;
}

.sentence-wrapper {
    font-size: 2em;
    position: absolute;
    z-index: 2;
    bottom: 50%;
    width: 100%;
}

.start-screen {

}

.logo {
    width: 256px;
    height: 256px;
    display: inline-block;
}

.fb-img {
    width: 32px;
    height: 32px;
}