<div class="error-spotter card h-100 d-flex flex-column justify-content-between">

    <ng-template [ngIf]="!isStarted()">
        <div class="error-spotter-logo mx-auto"></div>
        <div class="card-body">
            <h2 class="card-title text-center" i18n>Error Spotter</h2>
            <p class="card-text text-center" i18n>Improve your recognition of common English mistakes.</p>
        </div>
        <div class="mt-auto p-3">
            <div class="btn green btn-block" (click)="startQuiz()">
                <span i18n>Start Quiz</span>
                <i class="fa fa-play"></i>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="isStarted() && !isCompleted()">

        <div class="instructions text-center mt-5">
            <span i18n>Click the number to spot the error</span>
        </div>

        <div class="sentence-wrapper p-3">
            <ec-error-spotter-sentence
                    [currentSentence]="getCurrentSentence()"
                    [selectedIndex]="getSelectedIndex()"
                    [checked]="isChecked()"
                    (onWordSelect)="selectDisplayWord($event)"
            ></ec-error-spotter-sentence>
        </div>

        <div></div>

        <div class="sentence-block p-3">
            <div *ngIf="isChecked()" class="feedback-message">
                <div *ngIf="isCorrect()" class="alert alert-success d-flex align-items-middle justify-content-center">
                    <i class="fa fa-check-circle mr-2"></i>
                    <span class="ml-1" i18n>Correct</span>
                </div>
                <div *ngIf="!isCorrect()" class="alert alert-danger d-flex align-items-middle justify-content-center">
                    <i class="fa fa-times-circle mr-2"></i>
                    <span class="ml-1" i18n>Incorrect</span>
                </div>
            </div>

            <div *ngIf="!isChecked()"
                 [class.disabled]="!hasSelected()"
                 [class.btn-secondary]="!hasSelected()"
                 [class.btn-primary]="hasSelected()"
                 (click)="checkAnswer()"
                 class="btn btn-primary btn-block">
                <span i18n>Check</span>
                <i class="fa fa-check"></i>
            </div>
            <div *ngIf="isChecked()"
                 (click)="nextQuestion()"
                 class="btn green btn-block">
                <span i18n>Next</span>
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>

    </ng-template>

    <div *ngIf="isCompleted()" class="card-body completion-screen h-100">
        <div>
            <span class="fa fa-trophy"></span> {{getTotalCorrectAnswers()}}
        </div>
        <div>
            <span class="fa fa-clock-o"></span> {{getSessionTime()}}
        </div>

        <div class="row my-2" *ngFor="let answer of getAnswers(); let i = index;">
            <div class="col-1 p-0 text-center">
                {{ i + 1 }}
            </div>

            <div class="col p-0 text-center">
                <ec-error-spotter-sentence
                        [currentSentence]="answer.sentence"
                        [selectedIndex]="answer.selectedIndex"
                        [checked]="true"
                ></ec-error-spotter-sentence>
            </div>

            <div class="col-1 p-0 text-center">
                <span *ngIf="answer.correct">
                    <i class="fa fa-check-circle text-success"></i>
                </span>
                <span *ngIf="!answer.correct">
                    <i class="fa fa-times-circle text-danger"></i>
                </span>
            </div>
        </div>

    </div>

</div>