<div class="container-fluid">

    <div *ngIf="!isStarted()">
        <div class="btn btn-success" (click)="startQuiz()" i18n>Start</div>
    </div>

    <div *ngIf="isStarted() && !isCompleted()">
        <div class="d-flex justify-content-center">
            <div *ngIf="getCurrentSentence()">
                <span *ngFor="let displayWord of getCurrentSentence().displayWords; let i = index;"
                      class="display-word"
                      [class.d-none]="!displayWord.visible"
                      [class.selected]="isSelected(i)"
                      (click)="selectDisplayWord(i)"
                >{{displayWord.prefix}}{{displayWord.text}}{{displayWord.postfix}}</span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div *ngIf="!isChecked()"
                 (click)="checkAnswer()"
                 class="btn btn-success">Check</div>
            <div *ngIf="isChecked()"
                 (click)="nextQuestion()"
                 class="btn btn-success">Next</div>
        </div>
    </div>

    <div *ngIf="isCompleted()">
        Complete!
    </div>

</div>